@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Noto+Serif+Hentaigana:wght@200..900&family=Petit+Formal+Script&display=swap');
@import 'variables.css';

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-body), serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-titles), serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--text-dark);
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
  margin: 2rem 0;
}

h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
}

.divider {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 1px;
  background-color: var(--text-dark);
  margin: 1rem auto;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}
