:root {
  --primary: #eeeeee;
  --accent: #f1ccb7;
  --secondary: #e6d6bd;
  --neutral-light: #c3c9b1;
  --neutral-dark: #a4aa94;
  --text: #606554;
  --text-dark: #232323;

  --font-titles: "Bodoni Moda";
  --font-body: "Noto Serif Hentaigana";
  --font-elegant: "Petit Formal Script";
}
